.main-menu {
    border-right: 3px #131418 solid;
    border-left: 3px #131418 solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    transition: left 0.3s ease;
}

.alarm-button {
    background-color: #282c34 !important;
    font-size: 10px !important;
}

.alarm-button:hover {
    background-color: rgba(131, 246, 8, 0.75) !important;
}

